$color-primary: #84BC34;
$color-primary-active: #B5D785;
$color-secondary: #21314D;
$color-secondary-active: #7A8394;
$color-offer-primary: #DF002E;
$color-offer-primary-active: #FF674B;
$color-offer-secondary: #CCCCCC;
$color-offer-secondary-active: #E5E5E5;
$color-text: $color-secondary;
$color-text-active: $color-text;
